POSTGRES_USER=ap_user
POSTGRES_PASSWORD=ap_password
POSTGRES_DB=ap_review
POSTGRES_PORT=5432
WEB_PORT=8000

# SharePoint search
SP_SEARCH_FOLDER=AP/Daily Payment Approvals
SP_MIN_BILL_LENGTH=4
SP_BILL_TIER_ENABLED=true
SP_SEARCH_CONCURRENCY=8
